@import "../source/bootstrap";

.navbar.fixed-top {
  background-color: white;
  border          : none;
  border-bottom   : 1px solid $gray-300;
}

.about__card {
  max-width : 40rem;
  margin    : 6rem auto;
  color     : $main-text-color;
}

.about__title {
  font-size : $h3-font-size;
  margin    : 0;
}

.about__text {
  font-size : $h5-font-size;
}

.about__btn {
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
}